@import '../../utils/variables.scss';

.lifting-navbar {
  display: flex;
  background-color: $dark-blue;
  justify-content: space-between;
  font-size: 0.8rem;
  height: 8vh;
  padding-right: $padding * 2;
  padding-left: $padding * 2;

  .lifting-nav-link {
    text-decoration: none;
    color: $light-blue;
    align-items: center;
    display: flex;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
      color: $white;
    }

    .lifting-nav-link-about {
      padding-left: $padding;
    }
  }

  @media(min-width: $tablet-view) {

    .lifting-nav-link {
      align-items: end;
      font-size:1.3rem;
    }
  }
}