$padding: 8px;
$margins: 8px;
$mobile-view: 320px;
$tablet-view: 768px;
$desktop-view: 1020px;
$large-desktop-view: 1320px;
$dark-blue: #1C304A;
$light-blue: #B3EFFF;
$secondary-light-blue: #00CFFF;
$white: white;