@import '../../utils/variables.scss';

.lifting-footer {
  background-color: $dark-blue;
  height: 10vh;
  position: relative;
  bottom: 0;
  width: 100%;

  .lifting-footer-text {
    color: $white;
    display:flex;
    justify-content: space-between;

    .lifting-footer-general-information {
      padding-left: $padding;
    }

    .lifting-footer-portfolio-link {
      color: $white; 
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $secondary-light-blue;
      }
    }
  }

  .lifting-footer-social-information {
    display: flex;
    justify-content: end;
    align-items: center;

    .lifting-linkedIn-icon-container, .lifting-github-icon-container {
      padding: $padding * 2;
      text-decoration: none;

      .lifting-linkedIn-link, .lifting-github-link {
        color: $white;

        &:visited {
          color: $secondary-light-blue;
        }

        &:hover {
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}