@import '../../utils/variables.scss';



table {
  border-collapse: collapse;
  color: $font-color;
  margin-top: $margins * 4;
}
table tr td {
  border: 1px solid gray;
}

.chbi-table-component {
  .chbi-table-component-data-point{
    text-align: center;
  }
}

@media(min-width:$mobile-view){
  .chbi-table-component {
    width: 100vw;

    .chbi-table-component-data-point {
      padding: $padding;
    }
  }
  
}