@import '../../utils/variables.scss';

.chbi-table-component-header {
  background-color: pink;
}

.chbi-table-component {
  .chbi-table-component-data-point{
    text-align: center;
  }
}

@media(min-width:$mobile-view){
  .chbi-table-component {
    width: 100vw;

    .chbi-table-component-data-point {
      padding: $padding;
    }
  }
  
}